<div class="container " style=" padding-top: 20px;">
  <div *ngIf="authService.user$  | async; else login">
    <div class="row" style="padding-top: 40px;">
      <div class="col-12">
        <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
        <!-- COL 1 -->
        <div class="col-8">
          <!-- TABLE OF ASSETS -->
          <div class="row" style="padding-bottom: 10px;">
            <div class="container border bg-white rounded-lg shadow" style="padding-bottom: 20px; padding-top: 20px;">
              <div class="row" style="padding-bottom: 10px;">
                <div class="col-10 text-left ">
                  <div class="dashhead">
                    <h5 class="text-secondary">Portfolio</h5>
                  </div>
                </div>
                <!-- <div class="col-2 text-right">
                  <div *ngIf="!editMode"><button type="button" (click)='addAsset()' class="btn btn-outline-primary btn-sm">ADD</button></div>
                </div> -->
              </div>
              <div class="row" style="padding-bottom: 10px;">
                <div *ngIf="portfolioService.list">
                  ---{{ portfolioService.list  }}
                </div>
              </div>
            </div>
          </div>

          <!-- END COL 1 -->
        </div>


        <!-- SEPARATOR -->
        <div class="col-sm">
        </div>

        <!-- COL 2 -->
        <div class="col-3" >
          <div class="row" style="padding-bottom: 10px; ">
            <div class="container border bg-white text-center rounded-lg shadow" style="padding-bottom: 20px; padding-top: 20px;">
              <div class="text-primary"><h4>{{ assetsQty }}</h4></div>
              <div class="text-secondary" style="padding-bottom: 15px;">Number of assets</div>

              <div class="text-primary"><h4>{{ assetsCategoryQty }}</h4></div>
              <div class="text-secondary" style="padding-bottom: 15px;">Number of Category</div>

              <div class="text-primary"><h4>{{ assetsCurrencyQty }}</h4></div>
              <div class="text-secondary" style="padding-bottom: 15px;">Number of Currency</div>

              <div class="text-primary"><h4>{{ assetsCountryQty }}</h4></div>
              <div class="text-secondary" style="padding-bottom: 15px;">Number of Country</div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>

  </div>

</div>
