<div class="container " style=" padding-top: 20px;">
  <div *ngIf="authService.user$ | async; else login">
    <div class="row" style="padding-top: 40px;">
      <div class="col-12">
        <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
        <!-- COL 1 -->
        <div class="col-8">
          <!-- TABLE OF ASSETS -->
          <div class="row" style="padding-bottom: 10px;">
            <div class="container border bg-white rounded-lg shadow" style="padding-bottom: 20px; padding-top: 20px;">
              <div class="row" style="padding-bottom: 10px;">
                <div class="col-10 text-left ">
                  <div class="dashhead">
                    <h5 class="text-secondary">Your Stocks</h5>
                  </div>
                </div>
                <div class="col-2 text-right">
                  <div *ngIf="!editStockMode"><button type="button" (click)='addStock()' class="btn btn-outline-primary btn-sm">ADD</button></div>
                </div>
              </div>

              <!-- ASSET LIST VIEW -->
                <div *ngIf="stocks">
                  <table class="table table-sm">
                    <thead>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Country</th>
                      <th>Currency</th>
                      <th>Price</th>
                    </thead>
                    <tbody *ngFor="let stock of stocks ">
                      <tr >
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.category }}</td>
                        <td>{{ stock.country }}</td>
                        <td>{{ stock.currency }}</td>
                        <td>{{ stock.averagePrice }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

          </div>

          <!-- SHOW ASSET PROFILE -->
          <div *ngIf="stockDisplayedMode">

              <div class="row" style="padding-bottom: 10px;">
                <div class="container bg-white border text-left rounded-lg shadow" style="padding-bottom: 20px; padding-top: 20px;">
                  <div class="row" style="padding-bottom: 10px;">
                    <div class="col-8 text-left ">
                      <div class="dashhead"><h5 class="text-secondary">Stock Profile</h5></div>
                    </div>
                    <div class="col-2 text-right">
                      <div *ngIf="!editStockMode"><button type="button" (click)='addAsset(stockDisplayed)' class="btn btn-outline-primary btn-sm">EDIT</button></div>
                    </div>
                    <div class="col-2 text-right">
                      <div *ngIf="!editStockMode"><button type="button" (click)='deleteAsset(stockDisplayed)' class="btn btn-outline-danger btn-sm">DELETE</button></div>
                    </div>
                  </div>

                  <div *ngIf="stockDisplayed">
                    <div class="row" style="padding-bottom: 10px;">
                      <div class="col-3 font-weight-bold">Name</div>
                      <div class="col-sm text-secondary" (click)="editStock()" >{{ stockDisplayed.name }}</div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                      <div class="col-3 font-weight-bold">Ticker</div>
                      <div class="col-sm text-secondary" (click)="editStock()" >{{ stockDisplayed.ticker}} </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                      <div class="col-3 font-weight-bold">Currency</div>
                      <div class="col-sm text-secondary" (click)="editStock()" >{{ stockDisplayed.currency }}</div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                      <div class="col-3 font-weight-bold">Position</div>
                      <div class="col-sm text-secondary" (click)="editStock()" >{{ stockDisplayed?.position }} </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                      <div class="col-3 font-weight-bold">Average Price</div>
                      <div class="col-sm text-secondary" (click)="editStock()" >{{ stockDisplayed?.price }}</div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                      <div class="col-3 font-weight-bold">Exit Date</div>
                      <div class="col-sm text-secondary" (click)="editStock()" >{{ stockDisplayed?.exitMonth }}/{{ stockDisplayed?.exitYear }}</div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                      <div class="col-3 font-weight-bold">Annual {{ stockDisplayed.increaseType }}</div>
                      <div class="col-sm text-secondary" (click)="editStock()" >{{ stockDisplayed.increaseValue }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="padding-bottom: 10px;">
                <div class="container bg-white border text-left rounded-lg shadow" style="padding-bottom: 20px; padding-top: 20px;">
                  <div class="row" style="padding-bottom: 10px;">
                    <div class="col-8 text-left ">
                      <div class="dashhead"><h5 class="text-secondary">Datasets</h5></div>
                    </div>
                  </div>
                  <div class="row" style="padding-bottom: 10px;">
                    <div *ngIf="chartData.length > 0">
                      <ngx-charts-line-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="chartData"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)">
                        </ngx-charts-line-chart>
                      </div>
                  </div>

                  <div *ngIf="dataset">
                    <table class="table table-sm">
                      <thead>
                        <th>#</th>
                        <th>Asset</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Value</th>
                      </thead>
                      <tbody *ngFor="let data of dataset ">
                        <tr >
                          <td>{{ data.count }}</td>
                          <td>{{ data.asset }}</td>
                          <td>{{ data.periodMonth }}</td>
                          <td>{{ data.periodYear }}</td>
                          <td>{{ data.value| number: '0.' }} {{ assetDisplayed?.currency }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          <!-- ASSET EDIT VIEW -->
          <div *ngIf="editStockMode">
            <div class="row" style="padding-bottom: 10px;">
              <div class="col-12 text-left ">
                <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
                  <div class="container bg-white border text-left rounded-lg shadow" style="padding-bottom: 20px; padding-top: 20px;">
                      <form [formGroup]="stockForm" class="form-horizontal" (ngSubmit)="saveStock()" >
                        <!-- Section Name -->
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="col-3 font-weight-bold">Name</div>
                        <div class="col-sm text-secondary" >
                          <input formControlName="name" class="form-control form-control-sm border-bottom border-primary" id="inputName" value="{{ stockDisplayed?.name }}" placeholder="">
                        </div>
                      </div>
                      <!-- Section Category -->
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="col-3 font-weight-bold">Ticker</div>
                        <div class="col-sm text-secondary" >
                          <input formControlName="ticker" class="form-control form-control-sm border-bottom border-primary" id="inputTicker" value="{{ stockDisplayed?.ticker }}" placeholder="">
                        </div>
                      </div>
                      <!-- Section Currency -->
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="col-3 font-weight-bold">Currency</div>
                        <div class="col-sm text-secondary" >
                          <div *ngIf="currencies">
                            <select formControlName="currency" id="inputCurrency" class="form-control form-control-sm border-bottom border-primary">
                              <option>{{ stockDisplayed?.currency }}</option>
                              <option *ngFor="let currency of currencies">
                                    {{ currency.code }}
                                </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- EntryAmount  -->
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="col-3 font-weight-bold">Entry Amount</div>
                        <div class="col-sm text-secondary" >
                          <input formControlName="entryAmount" class="form-control form-control-sm border-bottom border-primary" id="inputName" value="{{ asset?.entryAmount }}" placeholder="">
                        </div>
                      </div>
                      <!-- Section SAVE -->
                      <div class="row" style="padding-bottom: 10px;">
                        <div class="col-8 text-right font-weight-bold"></div>
                        <div class="col-2 text-right">
                            <button type="button" (click)='cancelAddAsset()' class="btn btn-outline-primary btn-sm">CANCEL</button>
                        </div>
                        <div class="col-2 text-right">
                          <button type="button" (click)='saveStock()' class="btn btn-primary btn-sm">SAVE</button>
                      </div>
                      </div>
                    </form>
                </div>
              </div>
              </div>
            </div>
          </div>

          <!-- END COL 1 -->
        </div>


        <!-- SEPARATOR -->
        <div class="col-sm">
        </div>

        <!-- COL 2 -->
        <div class="col-3" >
          <div class="row" style="padding-bottom: 10px; ">

          </div>
        </div>

        </div>
        <!-- <div class="col"> -->
      </div>
    </div>

  </div>

</div>
